.container {
  padding: 30pt;
  width: 100%;
  header {
    margin-top: 80pt;
    margin-bottom: 50pt;
    text-align: center;
    h1 {
      font-size: 32pt;
      font-weight: 400;
    }
    h3 {
      font-weight: 400;
    }
  }
  .search {
    text-align: center;
    .bp3-input {
      height: 70pt;
      font-size: 30pt;
      width: 700pt;
    }
  }
}
